{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    // "mocha": true,
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/prefer-stateless-function": "off",
    "no-console": "off",
    "react/prefer-es6-class": "off",
    "react/prop-types":"off",
    "no-trailing-spaces":"off",
  },
}